<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<h3 th:text="|${jikwonname} 부장의 관리고객|"></h3>
<table border="1">
	<tr>
		<th>고객번호</th><th>고객명</th><th>성별</th><th>나이</th><th>전화</th>
	</tr>
	<tr th:each="list : ${lists}">
		<td th:text="${list.gogekno}"></td>
		<td th:text="${list.gogekname}"></td>
		<td th:text="${list.gogekgen}"></td>
		<td th:text="${list.gogekage}"></td>
		<td th:text="${list.gogektel}"></td>
	</tr>
</table>
</body>
</html>