<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pack.model.DataMapperInterface">
    <!-- select의 결과를 DataDto type으로 list 컬렉션에 저장 후 반환 -->
    <select id="selectDataAll" resultType="pack.model.Board">
        select * from springboard
    </select>

</mapper>