<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>회원자료 수정</h2>
<form th:action="@{/update}" method="post" th:object="${data}">
    <input type="hidden" th:field="*{num}">
    번호 : [[${data.num}]] 또는 <span th:text="${data.num}">번호</span><br>
    이름 : <input type="text" th:field="*{name}"><br> <!-- *{name} 삽입시 id="name" name="name" 자동 생성 -->
    주소 : <input type="text" th:field="*{addr}"><br>
    <input type="submit" value="수 정">
</form>
</body>
</html>