<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<h3>* 상세보기 *</h3>
<table class="table">
    <tr>
        <td style="text-align: right;">
            <a th:href="@{/reply(num=${data.num},page=${page})}">
                <img src="/images/reply.gif" alt="Reply"/>
            </a>
            <a th:href="@{/update(num=${data.num},page=${page})}">
                <img src="/images/edit.gif" alt="Edit"/>
            </a>
            <a th:href="@{/delete(num=${data.num},page=${page})}">
                <img src="/images/del.gif" alt="Delete"/>
            </a>
            <a th:href="@{/list(page=${page})}">
                <img src="/images/list.gif" alt="List"/>
            </a>
        </td>
    </tr>
</table>

<th:block th:if="${data != null}">
    <table class="table">
        <tr>
            <td>비밀번호 : [[${data.pass}]]</td>
            <td>
                작성자 : <a href="mailto:${data.mail}">[[${data.name}]]</a>
            </td>
            <td>작성일 : [[${data.bdate}]]</td>
            <td>조회수 : [[${data.readcnt}]]</td>
        </tr>
        <tr>
            <td colspan="4">제목 : [[${data.title}]]</td>
        </tr>
        <tr>
            <td colspan="4">
                <label for="cont">내용</label>
                <textarea rows="5" style="width: 100%" readonly="readonly" id="cont">[[${data.cont}]]</textarea>
            </td>
        </tr>
    </table>
</th:block>
</body>
</html>