<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <script type="text/javascript">
        window.onload = function () {
            let btnIns = document.querySelector("#btnIns");
            btnIns.addEventListener("click", checkData);
        }

        function checkData() {
            if(frm.name.value == "") {
                alert("작성자를 입력하시오");
                frm.name.focus();
                return;
            }

            frm.submit();
        }
    </script>
</head>
<body>
<h3>* 글 쓰기 *</h3>
<form th:action="@{/insert}" method="post" name="frm">
    <table class="table">
        <tr>
            <td><label for="name">이름</label></td>
            <td><input type="text" name="name" id="name"></td>
        </tr>
        <tr>
            <td><label for="pass">암호</label></td>
            <td><input type="text" name="pass" id="pass"></td>
        </tr>
        <tr>
            <td><label for="mail">이메일</label></td>
            <td><input type="text" name="mail" id="mail"></td>
        </tr>
        <tr>
            <td><label for="title">제목</label></td>
            <td><input type="text" name="title" id="title"></td>
        </tr>
        <tr>
            <td><label for="cont">내용</label></td>
            <td>
                <textarea rows="5" style="width: 100%;" name="cont" id="cont"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
            <input type="button" value="등록" id="btnIns">
            <input type="button" value="목록" th:onclick="|location.href='@{list}'|">
        </tr>
    </table>
</form>
</body>
</html>