<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="'상품 정보'">직접 데이터를 줄 수 있다.</h2>
<table th:object="${dto}">
    <tr>
        <td>아이디</td>
        <td th:text="*{id}"></td>
    </tr>
    <tr>
        <td>상품명</td>
        <td th:text="${dto.name}"></td>
    </tr>
    <tr>
        <td>가 격</td>
        <td>[[${dto.price}]]</td>
    </tr>
    <tr>
        <td>등록일</td>
        <td th:text="|날짜 ${dto.regDate}임|"></td>
    </tr>
</table>
</body>
</html>