<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko"> <!-- JAVA Template Engine -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>타임리프 연습장</h2>
<!-- JSP의 <% request.getAttribute("msg"); %>와 같은 의미 -->
메세지 : <span th:text="${msg}">이 영역의 텍스트는 순수 html에서는 표시되나 Template를 쓰면 안보임</span><br>
메세지 : <span>이 영역의 텍스트는 순수 html에서는 표시되나 Template를 쓰면 안보임</span><br>
메세지 : <span>[[${msg}]]</span><br>
메세지(값 결합 + 사용) : <span th:text="'메세지는 ' + ${msg} + '입니다.'"/><br>
메세지(리터럴 치환) : <span th:text="|메세지는 ${msg}입니다.|"/><br>
* 지역 변수 처리 :
<span th:with="kor=90, eng=80"> <!-- th:with="변수명=값, ... -->
    <i style="color: blue" th:text="|${kor} + ${eng} = ${kor + eng}|"/>
</span>
<br>
* 관계 연산 : <br>
<span th:text="3 >= 4"/> <span th:text="3 <= 4"/>
<span th:text="a >= b"/> <span th:text="a <= b"/>
<span th:text="3 == 4"/> <span th:text="3 != 4"/>
<span th:text="a == b"/> <span th:text="a != b"/>
<hr>
조건 연산 (if, unless) :
<span th:text="5 > 4?'큼':'작음'">삼항 연산</span>
<br>
조건 연산 (true) :
<span th:if="5 > 4">
    조건이 참일 때 수행
</span>
<br>
조건 연산 (false) :
<span th:unless="5 == 4">
    조건이 거짓일 때 수행
</span>
<br>
switch 조건문
<div th:switch="${msg2}">
    <b th:case="james" th:text="|${msg2}님|">자료 표시</b>
    <i th:case="tom" th:text="|${msg2}씨|">자료 표시</i>
    <strong th:case="*">모르는 이름(어떤 값도 매칭되지 않을 때)</strong> <!-- default -->
</div>

<th:block th:switch="${msg2}">
    <b th:case="james" th:text="|${msg2}님|">자료 표시</b>
    <i th:case="tom" th:text="|${msg2}씨|">자료 표시</i>
    <strong th:case="*">모르는 이름(어떤 값도 매칭되지 않을 때)</strong> <!-- default -->
</th:block>
<hr>
DTO 자료 출력 : <br>
<span th:text="${sangpum.code}">코드</span> <span th:text="${sangpum['code']}">코드</span><br>
<span th:text="${sangpum.sang}">품명</span> <span th:text="${sangpum['sang']}">품명</span><br>
<span th:text="${sangpum.price}">가격</span> <span>[[${sangpum['price']}]]</span><br>
<div th:object="${sangpum}">
    <span th:text="*{code}"/>
    <span th:text="*{sang}"/>
    <span th:text="*{price}"/>
    <span th:text="*{['price']}"/>
    <span>[[*{price}]]</span>
</div>
반복 처리 : <br>
<table border="1">
    <tr>
        <th>코드</th><th>품명</th><th>가격</th>
    </tr>
    <tr th:each="obj : ${list}">
        <td>[[${obj.code}]]</td>
        <td>[[${obj.sang}]]</td>
        <td>[[${obj.price}]]</td>
    </tr>
</table>

</body>
</html>